@charset "UTF-8";
#board_logo{
	width:1100px;
	height:150px;
	margin:0 auto;
	background: silver;
}
#board_logo_text{
	position:absolute;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:white;
	margin: 75px 0px 0px 915px;
	font-size:45px;
}
#center_contents{
	width:1100px;
	height:680px;
	margin:0 auto;
}
#left_contents{
	float:left;
	width:250px;
}
#right_contents{
	float:left;
	margin: 0px 0px 0px 29px;
	padding: 10px 0px 10px 0px;
	width:820px;
	height:660px;
	border-right: 1px solid silver;
}
#left_logo{
	padding: 15px 0px 15px 0px;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:white;
	font-size:35px;
	text-align:center;
	background-image: linear-gradient(to bottom, #4c6b82 0%, #517fa4 100%);
}
#board_list{
	height:600px;
	border-left:1px solid silver;
	border-right:1px solid silver;
}
.board_list_name{
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:27px;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid silver;
	text-align:center;
}
#board_name{
	font-family:'Noto Sans KR';
	font-weight:700;
	font-size:32px;
}
#board_comment{
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:14px;
}
#table_wrap{
	width:790px;
	height:437px;
	margin-top:10px;
}
#board_table{
	border-collapse:collapse;
}
#board_title_box{
	border:1px solid silver;
	background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
}
.board_no{
	width:70px;
	padding:5px 0px 5px 0px;
	text-align:center;
}
.board_title{
	width:420px;
	padding:5px 0px 5px 0px;
	text-align:center;
}
.board_writer{
	width:100px;
	padding:5px 0px 5px 0px;
	text-align:center;
}
.board_date{
	width:100px;
	padding:5px 0px 5px 0px;
	text-align:center;
}
.board_view{
	width:100px;
	padding:5px 0px 5px 0px;
	text-align:center;
}
.board_tr_plus{
	font-family:'Noto Sans KR';
	padding:4px 0px 4px 0px;
	font-weight:500;
	color:black;
	font-size:16px;
}
.board_struct_bottom{
	border-bottom:1px solid silver;
}
.board_font{
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:14px;
}
#board_buttons{
	margin-top:10px;
	width:790px;
	text-align:right;
}
.btn_design{
	display:inline-block;
	width:100px;
	padding:5px 0px 5px 0px;
	background:black;
	color:white;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	text-align:center;
}
.btn_design:hover{
	background:silver;
	cursor:pointer;
}
#board_num{
	margin-top:10px;
	width:790px;
	text-align:center;
}