@charset "UTF-8";
#banner_div{
	height:300px;
	background:#717171;
	position: relative;
	z-index:1;
}
#banner_div_wrap{
	width:1250px;
	height:300px;
	margin:0 auto;
}
#banner_text_wrap{
	padding-top:130px;
	padding-right:35px;
	text-align:right;
}
.banner_text{
	font-family:'Open Sans';
	font-weight:700;
	font-size:60px;
	color:white;
}
#contents_div{
	height:320px;
}
#contents_div_wrap{
	width:1250px;
	height:320px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:25px;
}
.board_contents{
	float:left;
	width:380px;
	margin-left:30px;
	border-bottom:3px solid black;
}
.title_div{
	border-bottom:2px solid black;
}
.board_name_text{
	font-family:'Noto Sans KR';
	font-weight:700;
	color:black;
	font-size:22px;
	margin-left:5px;
}
.board_more_text{
	font-family:'Noto Sans KR';
	font-weight:700;
	color:black;
	font-size:15px;
	margin-left:245px;
}
.board_title{
	border-top:1px solid black;
	padding:5px 10px 5px 10px;
}
.board_title_font{
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:14px;
}
#right_contents{
	float:left;
	margin-left:40px;
	width:350px;
}
#my_contents{
	height:110px;
	background:#d4d4d4;
	padding: 20px 0px 30px 0px;
	box-shadow: 5px 5px 5px silver;
}
#gamestartBtn{
	margin-top:10px;
	width:355px;
	box-shadow: 5px 5px 5px silver;
}
#login_text{
	display:block;
	margin-top:5px;
	text-align:center;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:black;
	font-size:18px;
}
#loginBtn{
	width:300px;
	margin-top:5px;
	margin-left:25px;
	padding:13px 0px 13px 0px;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:white;
	text-align:center;
	font-size:18px;
	border-radius:10px;
	background:#606060;
}
#loginBtn:hover{
	background:silver;
	cursor:pointer;
}
#reg_div{
	margin-top:10px;
	text-align:center;
}
.reg_text{
	font-family:'Noto Sans KR';
	font-weight:700;
	color:black;
	font-size:16px;
}
#profile_wrap{
	width:100px;
	margin-top:10px;
	margin-left: 25px;
	float:left;
}
#profile_img{
	width:100px;
	border-radius:50%;
}
#myinfo_div{
	float:left;
	margin-left:15px;
	margin-top:7px;
}
#nickname_text{
	font-family:'Noto Sans KR';
	font-weight:500;
	color:black;
	font-size:18px;
}
.sub_text{
	font-family:'Noto Sans KR';
	font-weight:400;
	color:black;
	font-size:15px;
}
.my_text{
	font-family:'Noto Sans KR';
	font-weight:400;
	color:black;
	font-size:16px;
}
#my_contents_after{
	height:110px;
	background:#f8f8f8;
	border-radius:15px;
	border: 3px solid black;
	padding: 20px 0px 30px 0px;
	box-shadow: 5px 5px 5px silver;
}
#logout_btn{
	display:inline-block;
	background:black;
	font-family:'Noto Sans KR';
	font-weight:500;
	color:white;
	font-size:16px;
	border-radius:10px;
	margin-top:5px;
	padding: 4px 25px 4px 25px;
}
#logout_btn:hover{
	background:silver;
	cursor:pointer;
}
.text_cursor:hover{
	cursor:pointer;
}