@charset "UTF-8";
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	position:absolute;
	background:#eaeaea;
}
div{
	padding:0px;
	margin:0px;
}
#body_wrap{
	position:absolute;
	width:1440px;
	height:810px;
	top:50%;
	left:50%;
	padding:0;
	margin:-405px 0px 0px -720px;
	border:3px solid black;
	box-shadow: 10px 10px 10px silver;
}
#top_content{
	width:100%;
	height:40px;
	position:relative;
	background:black;
}
#img_div{
	float:left;
	position:relative;
	margin-left:15px;
	margin-top:5px;
}
#mapia_logo{
	width:100px;
}
#player_div{
	float:left;
	width:1190px;
	text-align:right;
}
#player_wrap{
	display:inline-block;
}
#top_profile_div{
	padding-top:5px;
	padding-bottom:0px;
	float:left;
}
#top_profile_img{
	width:28px;
	height:28px;
	border-radius:50%;
}
#top_player_info{
	float:left;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:20px;
	color:white;
	margin-left:10px;
	padding-top:4px;
	padding-bottom:6px;
}
#split_div{
	float:left;
	margin-left:10px;
	margin-right:10px;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:20px;
	color:white;
	padding-top:4px;
	padding-bottom:6px;
}
#now_time{
	float:left;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:20px;
	color:white;
	padding-top:4px;
	padding-bottom:6px;
}
#main_content{
	width:100%;
	padding-top:10px;
	height:760px;
	background:white;
}
#room_info{
	float:left;
	margin-left:10px;
	width:745px;
	height:745.5px;
	border:3px solid black;
}
#room_top{
	height:40px;
	background:black;
}
#room_content{
	height:648px;
	overflow-y:scroll;
}
#room_menu{
	border-top:1px solid silver;
	height:56px;
	text-align:right;
}
.btn_design{
	margin-top:6px;
	margin-right:5px;
	padding: 10px 25px 10px 25px;
	display:inline-block;
	background:black;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	color:white;
}
.btn_design:hover{
	background:silver;
	cursor:pointer;
}
#center_content{
	float:left;
	margin-left:10px;
	width:320px;
	height:745.5px;
}
#connect_area{
	height:230px;
	background:white;
	border:3px solid black;
}
#connect_top{
	height:40px;
	background:black;
}
#connect_member{
	padding-top:10px;
	height:180px;
	overflow-y:auto;
}
#chat_area{
	margin-top:5px;
	height:504.5px;
	border:3px solid black;
}
#chat_top{
	height:40px;
	background:black;
}
#chat_content{
	height:400px;
	padding-top:10px;
	border-bottom:3px solid black;
	overflow-y:auto;
}
#chat_input{
	height:51px;
	background:white;
}
#chat_input_design{
	width:290px;
	height:27px;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:17px;
	color:black;
	padding:10px;
	border:0;
}
#chat_input_design:focus{
	outline:none;
}
#right_content{
	float:left;
	margin-left:10px;
	width:323px;
	height:745.5px;
}
#my_info{
	height:195px;
	border:3px solid black;
}
#my_info_top{
	height:40px;
	background:black;
}
#my_info_inner{
	height:126px;
	padding:15px 30px 15px 30px;
}
#logout_btn{
	display:inline-block;
	margin-left:145px;
	margin-top:5px;
	padding: 2px 15px 2px 15px;
	border-radius:15px;
	background:white;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	color:black;
}
#logout_btn:hover{
	background:silver;
	cursor:pointer;
}
#my_info_profile_img{
	float:left;
	width:30px;
	height:30px;
	border-radius:50%;
}
.my_info_text{
	display:inline-block;
	margin-left:10px;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:21px;
	color:black;
}
.my_info_subtext{
	margin-top:5px;
	margin-left:2px;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:18px;
	color:black;
}
#user_ranking{
	margin-top:10px;
	height:284px;
	border-top:3px solid black;
	border:3px solid black;
}
#ranking_top{
	height:40px;
	background:black;
}
#ranking_area{
	height:244px;
	overflow-y:auto;
}
.ranking_tr{
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	color:black;
	text-align:center;
	border-bottom:1px solid silver;
}
.ranking_tr:hover{
	background:#eaeaea;
}
.ranking_no{
	width:90px;
	padding:10px 0px 10px 0px;
}
.ranking_nickname{
	text-align:left;
	width:220px;
	padding:10px 0px 10px 0px;
}
.ranking_user_area_wrap{
	display:inline-block;
	text-align:center;
}
.ranking_profile{
	margin-left:20px;
	float:left;
	width:28px;
	height:28px;
	border-radius:50%;
}
.ranking_user_area{
	padding-top:2px;
	margin-left:10px;
	display:inline-block;
	text-align:center;
}
.ranking_img{
	width:30px;
}
#notice{
	margin-top:10px;
	height:40px;
	border:3px solid black;
}
#megaphone_div{
	float:left;
	padding-top:10px;
	padding-bottom:6px;
	margin-left:10px;
}
#megaphone_img{
	width:25px;
}
#notice_text{
	margin-left:10px;
	float:left;
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	color:black;
	padding-top:7px;
	padding-bottom:8px;
}
#howtoGame{
	padding-top:8px;
	padding-bottom:8px;
	font-family:'Noto Sans KR';
	font-weight:800;
	font-size:40px;
	color:#527fff;
	margin-top:10px;
	text-align:center;
	border:5px solid #7599ff;
}
#howtoGame:hover{
	background:#eaeaea;
	cursor:pointer;
}
#exitBtn{
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	border:5px solid black;
	font-family:'Noto Sans KR';
	font-weight:800;
	font-size:40px;
	text-align:center;
}
#exitBtn:hover{
	background:#eaeaea;
	cursor:pointer;
}
.title_font{
	float:left;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:17px;
	color:white;
	padding-top:6px;
	margin-left:10px;
}
.room_tr{
	font-family:'Noto Sans KR';
	font-weight:500;
	font-size:20px;
	color:black;
	text-align:center;
	border-bottom:1px solid silver;
}
.room_tr:hover{
	background:#eaeaea;
}
.room_no{
	width:100px;
	padding:10px 0px 10px 0px;
}
.room_title{
	width:355px;
	padding:10px 0px 10px 0px;
}
.room_title:hover{
	cursor:pointer;
	color:blue;
}
.room_creator{
	width:180px;
	padding:10px 0px 10px 0px;
}
.room_status{
	width:100px;
	padding:10px 0px 10px 0px;
}
.player_chat_info{
	height:30px;
	margin-left:20px;
	margin-right:15px;
	margin-bottom:2px;
	text-align:left;
}
.player_chat_img_div{
	float:left;
}
.player_chat_img{
	width:26px;
	height:26px;
	border-radius:50%;
}
.player_chat_top{
	float:left;
	margin-left:6px;
	padding:1px 0px 4px 0px;
	font-family:'Noto Sans KR';
	font-weight:700;
	font-size:16px;
}
.player_chat_sys{
	width:240px;
	background: linear-gradient( to bottom, #fad0c4, #ff9a9e );
	border-radius:10px;
	margin-bottom:12px;
	margin-left:15px;
	padding: 6px 20px 6px 20px;
	text-align:left;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	box-shadow: 2px 2px 2px silver;
}
.player_chat_all{
	width:240px;
	background-image: linear-gradient( to bottom, #c2e9fb, #a1c4fd );
	border-radius:10px;
	margin-bottom:12px;
	margin-left:15px;
	padding: 6px 20px 6px 20px;
	text-align:left;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	box-shadow: 2px 2px 2px silver;
}
.player_chat_my{
	width:240px;
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
	border-radius:10px;
	margin-bottom:12px;
	margin-left:15px;
	padding: 6px 20px 6px 20px;
	text-align:left;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	box-shadow: 2px 2px 2px silver;
}

.player_connect
{
	display:inline-block;
	margin-left:15px;
	width:240px;
	_background: linear-gradient( to bottom, #c2e9fb, #a1c4fd );
	border-radius:5px;
	padding: 7px 20px 2px 20px;
	margin-bottom:6px;
	font-family:'Noto Sans KR';
	font-weight:700;
	font-size:17px;
	text-align:left;
	border:1px solid silver;
	box-shadow: 3px 3px 3px silver;
}
