#board_logo{
	width:1100px;
	height:150px;
	margin:0 auto;
	background: silver;
}
#board_logo_text{
	position:absolute;
	width:1080px;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:white;
	margin: 75px 10px 0px 10px;
	text-align:right;
	font-size:45px;
}
#center_contents{
	width:1100px;
	min-height:780px;
	margin:0 auto;
}
#left_contents{
	float:left;
	width:250px;
}
#left_logo{
	padding: 15px 0px 15px 0px;
	font-family:'Noto Sans KR';
	font-weight:700;
	color:white;
	font-size:35px;
	text-align:center;
	background-image: linear-gradient(to bottom, #4c6b82 0%, #517fa4 100%);
}
#board_list{
	border-left:1px solid silver;
	border-right:1px solid silver;
}
.board_list_name{
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:27px;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid silver;
	text-align:center;
}.board_list_name:hover{
	cursor:pointer;
}
#right_contents{
	float:left;
	width:778px;
	min-height:380px;
	margin: 5px 0px 0px 10px;
	border:1px solid silver;
	padding:15px 30px 15px 30px;
}
#view_board_name_font{
	font-family:'Noto Sans KR';
	font-weight:700;
	color:blue;
}
#view_title_font{
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:32px;
	margin:0px 0px 5px 0px;
}
.date_view{
	font-family:'Noto Sans KR';
	font-weight:300;
	font-size:14px;
	color:silver;
	margin-right:10px;
}
#view_content{
	border-top:1px solid silver;
	padding:5px 0px 5px 0px;
	min-height:200px;
	margin:10px 0px 10px 0px;
	font-family:'Noto Sans KR';
	font-weight:300;
	font-size:18px;
}
#comment_relative{
	padding: 0px 5px 5px 5px;
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:16px;
	color: red;
}
#view_info_box{
	border: 3px solid black;
	border-radius:20px;
	width:298px;
	height:145px;
	padding:10px 20px 10px 20px;
	margin-left:440px;
	margin-bottom:10px;
	
}
#writer_info{
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:22px;
	margin-bottom:10px;
}
#img_box{
	float:left;
}
#profile_img{
	width:90px;
	border-radius:50%;
}
#user_info{
	float:left;
	margin-left:18px;
}
.user_info_main_font{
	font-family:'Noto Sans KR';
	font-weight:600;
	font-size:18px;
}
.user_info_font{
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
}
.cut_line{
	height:0.5px;
	background:silver;
}
#board_tools{
	display:inline-block;
	width:840px;
	margin-top:10px;
	margin-left:260px;
	margin-bottom:10px;
	text-align:right;
}
.buttons{
	display:inline-block;
	padding:5px 30px 5px 30px;
	background:black;
	color:white;
	font-family:'Noto Sans KR';
	font-weight:500;
	text-align:center;
}
.buttons:hover{
	cursor:pointer;
	background:silver;
}
.comments{
	font-family:'Noto Sans KR';
	font-weight:700;
	font-size:16px;
	padding: 10px 15px 10px 15px;
	min-height:100px;
	border-bottom:1px solid silver;
}
.comment_user_img_box{
	float:left;
	width:30px;
	height:30px;
}
.comment_profile{
	width:30px;
	height:30px;
	border-radius:50%;
}
.comment_user_info{
	float:left;
	height:28px;
	padding-top:2px;
	margin-left:10px;
}
.comment_date{
	float:left;
	margin-left:10px;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:10px;
	padding-top:5px;
	color:silver;
}
.comment_content{
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	padding-top:5px;
	clear:left;
}
#comment_write{
	margin-top:10px;
	min-height:100px;
	border: 2px solid silver;
	border-radius:5px;
}
#comment_area{
	padding: 10px 10px 10px 10px;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	width:754px;
	height:42px; 
	resize:none;
	border:none;
}
#comment_area:focus{
	outline: none;
}
#comment_btn_area{
	text-align:right;
	padding-right:7px;
	padding-bottom:7px;
}
#comment_submit{
	display:inline-block;
	padding:5px 20px 5px 20px;
	background:black;
	color:white;
	font-family:'Noto Sans KR';
	font-weight:400;
	font-size:15px;
	text-align:center;
	border-radius:20px;
}
#comment_submit:hover{
	cursor:pointer;
}