<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">
	<select id="selectBoard" resultType="boardVO">
		SELECT * FROM ${board} order by id desc LIMIT #{start}, #{cntInPage};
	</select>
	<select id="cntBoard" resultType="int">
		select count(*) from ${board};
	</select>
	<select id="getBoard" resultType="boardVO">
		select id, title, contents, nickname, date, view from ${board} where id=#{id};
	</select>
	<select id="getRecentNotice" resultType="boardVO">
		select id, title, date, 'notice' as board from notice
		union
		select id, title, date, 'event' as board from event
		order by date desc
		limit 6;
	</select>
	<select id="getRecentCommunity" resultType="boardVO">
		select id, title, date, 'free' as board from free
		union
		select id, title, date, 'screenshot' as board from screenshot
		order by date desc
		limit 6;
	</select>
	<select id="searchBoardId" resultType="boardVO">
		select id from ${board} where nickname=#{nickname} order by id desc limit 1;
	</select>
	<insert id="insertBoard" parameterType="boardVO">
		insert into ${board}(title, contents, nickname) values(#{title}, #{contents}, #{nickname});
	</insert>
	<update id="updateBoard" parameterType="boardVO">
		update ${board} set view=view+1 where id=#{id};
	</update>
	<update id="editBoard" parameterType="boardVO">
		update ${board} set title=#{title}, contents=#{contents} where id=#{id};
	</update>
	<delete id="deleteBoard" parameterType="boardVO">
		delete from ${board} where id=#{id};
	</delete>
	<insert id="writeComment" parameterType="commentVO">
		insert into comment(bid, board, comment, nickname) values(#{bid}, #{board}, #{comment}, #{nickname});
	</insert>
	<select id="selectComments" resultType="commentVO">
		select * from comment where board=#{board} and bid=#{id} order by id;
	</select>
</mapper>