<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">
	<select id="selectMemberById" resultType="memberVO">
		select id, nickname, level, point, win, lose, date, profile from member where id = #{id};
	</select>
	<select id="selectMemberByNick" parameterType="String" resultType="memberVO">
		select id, nickname, level, point, win, lose, date, profile from member where nickname = #{nickname};
	</select>
	<select id="checkID" resultType="int">
		select count(*) from member where id = #{id};
	</select>
	<select id="checkNickname" resultType="int">
		select count(*) from member where nickname = #{nickname};
	</select>
	<select id="login" resultType="int">
		select count(*) from member where id = #{id} and pw = #{pw};
	</select>
	<insert id="signUp" parameterType="memberVO">
		insert into member(id, pw, nickname) values(#{id}, #{pw}, #{nickname});
	</insert>
	<update id="updateProfile" parameterType="memberVO">
		update member set pw=#{pw}, profile=#{profile} where id=#{id};
	</update>
</mapper>